
{% extends "layouts/base.twig.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <p>
        {{ num }}
    </p>
{% endblock %}
