<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - My Webpage</title>

        <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet"  />
        <link href="/public/css/style.css" rel="stylesheet"  />
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>
